*{margin:0px;padding:0px;}
a:link{color:#000000; text-decoration:none; } 
input{font-size: 18px;outline:none;}
.top_bg{width:100%; height:50px; background:#C12128;overflow:hidden;}
.jmy_bg{width:18%; height:50px;float:left;overflow:hidden;}
.my_nei{width:100%; height:30px; margin-top:150px;overflow:hidden;}
.my_nei span{color:#fff; position:relative; top:-3px; font:bold 16px/30px  微软雅黑; margin-left:5px;}
.my_nei img{margin-top:50px;margin-left:5px;}
.input_bg{width:60%; height:40px; float:left; margin-top:5px;overflow:hidden;}
.input_bg input{border:none; width:80%; height:100%;  float:left;border-radius:0px 5px 5px 0px;overflow:hidden;}
.fdj{width:20%; height:40px; background:blue;float:left;border-radius:5px 0px 0px 5px; background:#fff; border:none;overflow:hidden;}
.fdj img{margin-top:9px; margin-left:7px;}
.cart_bg{width:19%; height:50px;float:left; margin-left:2%;overflow:hidden;}
.cart_bg span{font:bold 16px/50px 微软雅黑; color:#fff;}
.cart_bg img{position:relative; top:3px; margin-left:5px;}
.bk{border:1px solid #E7E5E5;width: 41%;height: 215px;margin-left:5.5%;margin-top:18px;float: left;box-shadow:0 0 10px rgba(0,0,1,0.5);}
.zta{color:#6599FB;font:12px 微软雅黑;margin-left:4%;}
.dianzan img,.dzshuliang,.liulanliang img,.llshuliang,.dianzan{float: left;}
.dzshuliang,.llshuliang{color:#C9CBCA;font:12px/23px 微软雅黑;}
.dianzan,.liulanliang{margin-left: 5%;margin-top: 1%;}
.dianzan{margin-top: 0.3%;}
.weibu,.meimei,.quanguo,.jifen,.mingshi,.gouwuche{float: left;}
.meimei,.quanguo,.jifen,.mingshi,.gouwuche{margin-left: 8.5%;}
.weibu{height: 8%;width:100%;border: 1px solid #ccc;background: #EBE9E9;  position:fixed; bottom:0px; z-index:9999;padding-top:2%;}
.zt{font:12px 微软雅黑;color:#999;border-bottom:1px solid #E7E5E5;height: 23px;}
.mingssj,.danpgm{width: 50%;height: 40px;float: left;font:17px/40px 微软雅黑;text-align: center;}
.mingssj{background: #474646;}
.mingssj a{color: #fff;}
.danpgm a{color: #C12128;}
.mspay_bottom_bg{width:100%; height:60px; background:#B0251E; position: fixed;bottom:0px;}
.zw{width:100%; height:60px;}.span_bg{width:40%; height:60px; margin:auto;}.span_bg a{ font:bold 30px/60px 微软雅黑; color:#fff;}
.span_bg img{position:relative; top:8px;}
.mstp a img{float: left;width: 50%;height: 162px;}
.msjs{float: left;width: 37%;height: 153px;padding-top:9px;padding-left:14px;font: 13px 微软雅黑;color: #999;overflow: hidden;}
.mssjlb{border: 1px solid #999;box-shadow:0 0 10px rgba(0,0,1,0.5);margin-top: 10px;}
.jian{font-size:20px;}
.jia{font-size: 20px;}