<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<link rel="stylesheet" type="text/css" href="theme/css/style.css?1444" /><!--样式-->
<link rel="stylesheet" type="text/css" href="theme/css/animate.min.css" /><!--样式-->
<script type="text/javascript" src="theme/js/jquery-1.12.4.min.js"></script><!--jQ库-->
<script type="text/javascript" src="theme/js/swiper-3.3.1.jquery.min.js"></script><!--手机轮播库-->
<script type="text/javascript" src="theme/js/auto-size.js"></script><!--设置字体大小-->


<form method="post" action="" name="listForm" style="width:550px;">

  <table>
    <tr>
      <td width="700px;">

    <div class="mobile_wrap bj1 ohei">



      <div class="banner">
        <div class="bann swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide"><img src="theme/img/img4.jpg" alt=""></li>
            <li class="swiper-slide"><img src="theme/img/img4.jpg" alt=""></li>
            <li class="swiper-slide"><img src="theme/img/img4.jpg" alt=""></li>
            <li class="swiper-slide"><img src="theme/img/img4.jpg" alt=""></li>
          </ul>
        </div>
        <div class="cirl">
          <ul>
            <li class="acti"></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div><!--banner-->
      <div class="list_ico dt">
        <ul>
          <li>
            <a href="#">
              <img src="theme/img/ico9.png" alt="">
              <p>墙纸</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico10.png" alt="">
              <p>墙画</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico11.png" alt="">
              <p>无缝墙布</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico12.png" alt="">
              <p>窗帘</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico13.png" alt="">
              <p>软包</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico14.png" alt="">
              <p>装饰画</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico15.png" alt="">
              <p>硅藻泥</p>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="theme/img/ico16.png" alt="">
              <p>辅料</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="explosion">
        <h2><i></i><img src="theme/img/ico22.png" alt=""><span>temai <img class="im0" src="theme/img/ico24.png" alt=""></span><a href="#">... 更多&gt;&gt;</a></h2>
        <div class="conleft">
          <img src="theme/img/img9.jpg" alt="">
          <div class="Price">
            <p>热销价<var>￥258.00</var></p>
            <span><a href="#"><img src="theme/img/ico17.png" alt=""></a><a href="#"><img src="theme/img/ico20-3.png" alt=""></a></span>
          </div>
        </div>
        <div class="conright">
          <div class="box1">
            <img src="theme/img/img10.jpg" alt="">
            <div class="Price">
              <p>热销价<var>￥258.00</var></p>
              <span><a href="#"><img src="theme/img/ico17.png" alt=""></a><a href="#"><img src="theme/img/ico20-3.png" alt=""></a></span>
            </div>
          </div>
          <div class="box2">
            <li>
              <img src="theme/img/img11.jpg" alt="">
              <div class="Price">
                <p>热销价<var>￥258.00</var></p>
                <span><a href="#"><img src="theme/img/ico17.png" alt=""></a><a href="#"><img src="theme/img/ico20-3.png" alt=""></a></span>
              </div>
            </li>
            <li>
              <img src="theme/img/img11.jpg" alt="">
              <div class="Price">
                <p>热销价<var>￥258.00</var></p>
                <span><a href="#"><img src="theme/img/ico17.png" alt=""></a><a href="#"><img src="theme/img/ico20-3.png" alt=""></a></span>
              </div>
            </li>
          </div>
        </div>
      </div>
      <div class="Sale dt">
        <h2><i></i><img src="theme/img/ico21.png" alt=""><span>temai</span><a href="#">... 更多>></a></h2>
        <ul>
          <li>
            <div class="pict">
              <img src="theme/img/img8.jpg" alt="">
              <span>超值</span>
            </div>
            <p>￥258.00</p>
          </li>
          <li>
            <div class="pict">
              <img src="theme/img/img8.jpg" alt="">
              <span class="sp1">满减</span>
            </div>
            <p>￥258.00</p>
          </li>
          <li>
            <div class="pict">
              <img src="theme/img/img8.jpg" alt="">
            </div>
            <p>￥258.00</p>
          </li>
        </ul>
      </div>
      <div class="pict_img">
        <img src="theme/img/img5.jpg" alt="">
      </div>

      <div class="pro_list dt">
        <div class="main_pic">
          <img src="theme/img/img6.jpg" alt="">
        </div>
        <ul>
          <li>
            <div class="pict">
              <img src="theme/img/img7.jpg" alt="">
            </div>
            <div class="text">
              <p>田园简约时尚彩色系列无纺材质抗磨耐用501-7</p>
              <strong>
                <var>￥258.00</var>
                            <span>
                            	<a href="#"><img src="theme/img/ico20-0.png" alt=""></a>
                                <a href="#" class="line"><img src="theme/img/ico20-1.png" alt=""></a>
                                <a href="#"><img src="theme/img/ico20-2.png" alt=""></a>
                            </span>
              </strong>
            </div>
          </li>
          <li>
            <div class="pict">
              <img src="theme/img/img7.jpg" alt="">
            </div>
            <div class="text">
              <p>田园简约时尚彩色系列无纺材质抗磨耐用501-7</p>
              <strong>
                <var>￥258.00</var>
                            <span>
                            	<a href="#"><img src="theme/img/ico20-0.png" alt=""></a>
                                <a href="#" class="line"><img src="theme/img/ico20-1.png" alt=""></a>
                                <a href="#"><img src="theme/img/ico20-2.png" alt=""></a>
                            </span>
              </strong>
            </div>
          </li>
          <li>
            <div class="pict">
              <img src="theme/img/img7.jpg" alt="">
            </div>
            <div class="text">
              <p>田园简约时尚彩色系列无纺材质抗磨耐用501-7</p>
              <strong>
                <var>￥258.00</var>
                            <span>
                            	<a href="#"><img src="theme/img/ico20-0.png" alt=""></a>
                                <a href="#" class="line"><img src="theme/img/ico20-1.png" alt=""></a>
                                <a href="#"><img src="theme/img/ico20-2.png" alt=""></a>
                            </span>
              </strong>
            </div>
          </li>
          <li>
            <div class="pict">
              <img src="theme/img/img7.jpg" alt="">
            </div>
            <div class="text">
              <p>田园简约时尚彩色系列无纺材质抗磨耐用501-7</p>
              <strong>
                <var>￥258.00</var>
                            <span>
                            	<a href="#"><img src="theme/img/ico20-0.png" alt=""></a>
                                <a href="#" class="line"><img src="theme/img/ico20-1.png" alt=""></a>
                                <a href="#"><img src="theme/img/ico20-2.png" alt=""></a>
                            </span>
              </strong>
            </div>
          </li>
        </ul>
      </div>


    </div><!--mobile_wrap-->
    <script type="text/javascript" src="js/type.js"></script><!--封装函数-->
    <script>
      downslide(".banner .cirl  ul li.acti",".banner .cirl  ul li","acti",".bann");
    </script>

</td>
<td align="left" valign="top">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <!--<th><a href="javascript:listTable.sort('ad_name'); ">{$lang.ad_name}</a>{$sort_ad_name}</th>-->
    <!--<th><a href="javascript:listTable.sort('position_id'); ">{$lang.position_id}</a>{$sort_position_id}</th>-->
    <!--<th><a href="javascript:listTable.sort('media_type'); ">{$lang.media_type}</a>{$sort_media_type}</th>-->
    <!--<th><a href="javascript:listTable.sort('start_date'); ">{$lang.start_date}</a>{$sort_start_date}</th>-->
    <!--<th><a href="javascript:listTable.sort('end_date'); ">{$lang.end_date}</a>{$sort_end_date}</th>-->
    <!--<th><a href="javascript:listTable.sort('click_count'); ">{$lang.click_count}</a>{$sort_click_count}</th>-->
    <th>{$lang.module_type}</th>
    <th>{$lang.module_sort}</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$ads_list item=list}
  <tr>
    <td class="first-cell">
    <span onclick="javascript:listTable.edit(this, 'edit_ad_name', {$list.ad_id})">{$list.ad_name|escape:html}</span>
    </td>
    <td align="left"><span>{if $list.position_id eq 0}{$lang.outside_posit}{else}{$list.position_name}{/if}</span>
    </td>
    <td align="left"><span>{$list.type}</span></td>
    <td align="center"><span>{$list.start_date}</span></td>
    <td align="center"><span>{$list.end_date}</span></td>
    <td align="right"><span>{$list.click_count}</span></td>
    <td align="right"><span>{$list.ad_stats}</span></td>
    <td align="right"><span>
      {if $list.position_id eq 0}
      <a href="ads.php?act=add_js&type={$list.media_type}&id={$list.ad_id}" title="{$lang.add_js_code}"><img src="images/icon_js.gif" border="0" height="16" width="16" /></a>
      {/if}
      <a href="ads.php?act=edit&id={$list.ad_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:;" onclick="listTable.remove({$list.ad_id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a></span>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
</td>
    </tr>
  </table>

<!-- end ad_position list -->
</form>

  <!--首页效果预览-->

  <!--首页效果预览-->

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
