<!-- $Id: sale_list.htm 15848 2009-04-24 07:07:13Z liubo $ -->
{if $full_page}
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form name="TimeInterval"  action="javascript:getList()" style="margin:0px">
    {$lang.start_date}&nbsp;
    <input name="start_date" type="text" id="start_date" size="15" value='{$start_date}' readonly="readonly" />
    <input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>
    &nbsp;&nbsp;
    {$lang.end_date}&nbsp;
    <input name="end_date" type="text" id="end_date" size="15" value='{$end_date}' readonly="readonly" />
    <input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_date', '%Y-%m-%d', false, false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>
    &nbsp;&nbsp;
    采购单号
    <input type="text" name="order_sn" size="15" />
        商品型号
    <input type="text" name="goods_attr" size="15" />
    工厂名称
    <select name="suppliers_id" id="suppliers_id">     
      <option value="">{$lang.select_please}</option>
      {foreach from=$row item=list}
      <option value="{$list.suppliers_id}">
      {$list.suppliers_name}
      </option>
      {/foreach}
      {html_options options=$status_list}
    </select>
    <input type="submit" name="submit" value="{$lang.query}" class="button" />
  </form>
</div>
<form method="POST" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table width="100%" cellspacing="1" cellpadding="3">
     <tr>
      <th>工厂名称</th>
      <th>订单号</th>
      <th>商品名称</th>
      <th>商品型号</th>
      <th>商品数量</th>
      <th>商品单价</th>
      <th>进货单价</th>
      <th>商品总价</th>
      <th>收货人</th>
      <th>收货加盟商</th>
      <th>电话</th>
      <th>收货地址</th>
      <th>下单时间</th>
      <th>快递单号</th>
      <th>付款状态</th>
      <th>操作</th>
    </tr>
  {foreach from=$goods_sales_list item=list}
    <tr align="center">
      <td>{$list.suppliers_name}</td>     
	  <td>{$list.order_sn}</td> 
	  <td>{$list.goods_name}</td> 
	  <td>{$list.goods_attr}</td> 
	  <td>{$list.goods_number}</td> 
	  <td>{$list.goods_price}</td> 
	  <td>{$list.cost_price}</td> 
	  <td>{$list.total}</td>
	  <td>{$list.name}</td> 
	  <td>{$list.user_name}</td> 
	  <td>{$list.tel}</td> 
	  <td>{$list.address}</td>
	  
      <td>{$list.add_time}</td>
      <td>{$list.courier_number}</td>
      <td>{$list.pay_statuss}</td>   
      <td align="center">
      <a href="purchase_order_examine.php?act=update&buy_id={$list.buy_id}">修改</a>
      {if $list.status==0 && $list.pay_statuss=='已付款'}

      |
      <a href="purchase_order_examine.php?act=order_query_freight&buy_id={$list.id}">确认采购</a>
      {/if}
      </td>
    </tr>
  {/foreach}
  </table>
  <table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
  </table>
{if $full_page}
</div>
</form>

<script type="Text/Javascript" language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}
<!--
onload = function()
{
  // 开始检查订单
  startCheckOrder();
  getDownUrl();
}

function getList()
{
    var frm =  document.forms['TimeInterval'];
    listTable.filter['start_date'] = frm.elements['start_date'].value;
    listTable.filter['end_date'] = frm.elements['end_date'].value;
    listTable.filter['order_sn'] = frm.elements['order_sn'].value;
    listTable.filter['goods_attr'] = frm.elements['goods_attr'].value;
    listTable.filter['suppliers_id'] = frm.elements['suppliers_id'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
    getDownUrl();
}

function getDownUrl()
{
  var aTags = document.getElementsByTagName('A');
  for (var i = 0; i < aTags.length; i++)
  { 
    if (aTags[i].href.indexOf('download') >= 0)
    {
      if (listTable.filter['start_date'] == "")
      {
        var frm =  document.forms['TimeInterval'];
        listTable.filter['start_date'] = frm.elements['start_date'].value;
        listTable.filter['end_date'] = frm.elements['end_date'].value;
        listTable.filter['order_sn'] = frm.elements['order_sn'].value;
        listTable.filter['goods_attr'] = frm.elements['goods_attr'].value;
        listTable.filter['suppliers_id'] = frm.elements['suppliers_id'].value;
      }
      aTags[i].href = "purchase_order_examine.php?act=download&start_date=" + listTable.filter['start_date'] + "&end_date=" + listTable.filter['end_date']+ "&order_sn=" + listTable.filter['order_sn']+ "&goods_attr=" + listTable.filter['goods_attr']+ "&suppliers_id=" + listTable.filter['suppliers_id'];
    }
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}