{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="../js/jquery.min.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="form-div">
  <form action="" method="get" onSubmit="return onsubmit_1();" style="width:50%;float:left;">
    将&nbsp;<input type="text" name="name1" id="name1"/>&nbsp;移到&nbsp;<input type="text" name="name2" id="name2"/>下面&nbsp;
    <input type="hidden" name="act" value="removal_parent"/>
    <input type="submit" value="确定"/>
  </form>
  <div style="float:left;width:50%;">
   {$lang.start_date}&nbsp;&nbsp;
    <input name="start_time" value="{$start_date}" style="width:140px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
    {$lang.end_date}&nbsp;&nbsp;
    <input name="end_time" value="{$end_date}" style="width:140px;" onclick="return showCalendar(this, '%Y-%m-%d', false, false, this);" />
  	<input type="button" value="统计粉丝" id="tongji_fans"/>
  	<span class="count_fans" style="color:red;font-size:16px;">{$count_fans}</span>
  	</div>
  	<script type="text/javascript">
  	 	$(function(){
  	 	 
  		  $("#tongji_fans").click(function(){
  			 var start_time = $("input[name='start_time']").val();
  	  		  var end_time = $("input[name='end_time']").val();
  			  $.post("users.php",{start_time:start_time,end_time:end_time,act:'tongji_fans'},function(re){
  				  $(".count_fans").html(re);
  			  })
  		  })
  	 	})
  		
  	
  	</script>
  <script>
 
  
  function onsubmit_1(){
    var name1 = $("#name1").val();
    var name2 = $("#name2").val();
    if(!name1||!name2){
        alert("有数据为空！");
        return false;
    }
    var is_con = confirm('确定要转移会员吗？请谨慎操作！');
    if(is_con){
        return true;
    }else{
        return false;
    }
  }
  </script>
<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    &nbsp;{$lang.label_rank_name} <select name="user_rank"><option value="0">{$lang.all_option}</option>{html_options options=$user_ranks }</select>
    &nbsp;{$lang.label_pay_points_gt}&nbsp;<input type="text" name="pay_points_gt" size="8" />&nbsp;{$lang.label_pay_points_lt}&nbsp;<input type="text" name="pay_points_lt" size="10" />
    &nbsp;{$lang.label_user_name} &nbsp;<input type="text" name="keyword" /> <input type="submit" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>{$sort_user_id}
    </th>
    <th><a href="javascript:listTable.sort('user_name'); ">{$lang.username}</a>{$sort_user_name}</th>
    <th>{$lang.label_rank_name}</th>
    <th>{$lang.members_nickname}</th>
    <th>{$lang.view_parent}</th>
    <th>门店介绍人</th>
    <th>{$lang.available_funds}</th>
    <th>{$lang.powder_consumption}</th>
    <th><a href="javascript:listTable.sort('reg_time'); ">{$lang.reg_date}</a>{$sort_reg_time}</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$user_list item=user}
  <tr>
    <td><input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}"/>{$user.user_id}</td>
    <td class="first-cell">{$user.user_name|escape}</td>
    <td><span onclick="listTable.edit(this, 'edit_email', {$user.user_id})"></span>
    {if $user.user_rank == 99}
    vip会员
    {elseif $user.user_rank == 102}
    加盟商
    {elseif $user.user_rank == 103}
    服务商
    {else}
    普通会员
    {/if}
    </td>
    <td>{$user.nickname}</td>
    <td>{$user.parent_name}</td>
    <td>{$user.referrals_name}</td>
    <td>{$user.user_money}</td>
    <td>{$user.pay_points}</td>
    <td align="center">{$user.reg_time}</td>
    <td align="center">
      <a href="users.php?act=edit&id={$user.user_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="users.php?act=address_list&id={$user.user_id}" title="{$lang.address_list}"><img src="images/book_open.gif" border="0" height="16" width="16" /></a>
      <a href="order.php?act=list&user_id={$user.user_id}" title="{$lang.view_order}"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      <a href="account_log.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}"><img src="images/icon_account.gif" border="0" height="16" width="16" /></a>
      {if $user.qid}
      <a href="{$user.qr_url}" class="qrcodes" target="_blank"><img src="images/qr-code.png" width="16" title="查看二维码" /></a>
      <a href="users1.php?act=list&user_id={$user.user_id}" title="查看所属下级"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      {/if}
      <a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.remove_confirm}', 'users.php?act=remove&id={$user.user_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td colspan="3">
      <input type="hidden" name="act" value="batch_removes" />
      <select name="type" id="selAction" onchange="changeAction()">
        <option value="">{$lang.select_please}</option>
        <option value="batch_remove">批量删除</option>
        <option value="vip_update">升级vip</option>
      </select>
      <input type="submit"  id="btnSubmit" name="btnSubmit" value="确定" disabled="true" class="button" />
		</td>
      <td align="right" nowrap="true" colspan="8">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript"><!--

listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;
    listTable.filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);
    listTable.filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');
  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }
}
function changeAction()
{
    var frm = document.forms['listForm'];
    if (!document.getElementById('btnSubmit').disabled &&
        confirmSubmit(frm, false))
    {
        frm.submit();
    }
}
//
--></script>
{/literal}
{include file="pagefooter.htm"}
{/if}